.filter-movies {
    width: 100%;
    &-items {
        display: flex;
        justify-content: space-evenly;
        &-image {
            width: 25%;
            img {
                width: 100%;
                height: 200px;
            }
        }
        &-desc {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 65%;
            &-title {
                color: #fff;
                font-weight: 400;
                font-size: 18px;
            }
            &-rate {
                color: #FF8700;
            }
            &-date{
                color: #fff;
            }
        }
    }
}