<div class="container mt-5">
    <div *ngIf="datas.results.length !== 0">
        <div class="filter-movies row mt-5">
            <div class="filter-movies-items col-lg-6 col-sm-12 mb-3" *ngFor="let item of datas.results" routerLink="/movie/{{item.id}}">
                <div class="filter-movies-items-image" >
                    <img src="{{imageApi + item.poster_path}}" alt="">
                </div>
                <div class="filter-movies-items-desc">
                    <div class="filter-movies-items-desc-title">
                        {{item.title}}
                    </div>
                    <div class="filter-movies-items-desc-rate">
                        <i class="fa-regular fa-star"></i>&nbsp;{{item.vote_average}}
                    </div>
                    <div class="filter-movies-items-desc-date">
                        <i class="fa-regular fa-calendar-days"></i>&nbsp;{{item.release_date.slice(0,4)}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-white" *ngIf="datas.results.length === 0">
        <div class="search-no-result">
            <i class="fa-brands fa-searchengin mb-5"></i>
            <p class="search-no-result-first mb-5">we are sorry, we can<br/>not find the movie :(</p>
            <p class="search-no-result-second">find your movie by Type title</p>
        </div>
    </div>
</div>
