<div class="container mt-5">
    <div class="movie-background-image">
        <img src="{{imageApi + datas.backdrop_path}}" alt="">
    </div>
    <div class="movie-banner">
        <div class="movie-banner-image">
            <img src="{{imageApi + datas.poster_path}}" alt="">
        </div>
        <div class="movie-banner-title">
            <div class="movie-rate">
                <div (click)="openDialog('1500ms', '1000ms')" class="movie-rate-button">
                    <i class="fa-regular fa-star"></i>&nbsp;&nbsp;{{datas.vote_average.toFixed(1)}}
                </div>
            </div>
            <h1>{{datas.title}}</h1>
        </div>
    </div>
    <div class="movie-info">
        <div class="movie-info-date">
            <i class="fa-regular fa-calendar-days"></i>&nbsp;&nbsp;{{datas.release_date.slice(0,4)}}
        </div>
        <div class="movi-info-hour">
            <i class="fa-regular fa-clock"></i>&nbsp;&nbsp;{{datas.runtime}}&nbsp;Minutes
        </div>
        <div class="movie-info-type" style="border: none;">
            <i class="fa-solid fa-ticket"></i>&nbsp;&nbsp;{{datas.genres[0].name}}
        </div>
    </div>
    <div class="movie-tabs">
        <ul class="movie-tabs-items text-white">
            <li id="about-movie" [class.active] = "id === 'about-movie'" (click)="tabChange('about-movie')">About Movie</li>
            <li id="reviews" [class.active] = "id === 'reviews'" (click)="tabChange('reviews')">Reviews</li>
            <li id="cast" [class.active] = "id === 'cast'" (click)="tabChange('cast')">Cast</li>
        </ul>
        <div class="movie-tabs-content text-white">
            <div class="movie-tabs-content-overview" *ngIf="id === 'about-movie'">
                <div class="movie-tabs-content-overview-text">
                    {{datas.overview}}
                </div>
            </div>
            <div class="movie-tabs-content-reviews" *ngIf="id === 'reviews'">
                <div *ngIf="reviewsData.results.length !== 0">
                    <div class="movie-tabs-content-reviews-box mb-5" *ngFor="let review of reviewsData.results">
                        <div class="movie-tabs-content-reviews-box-left">
                            <div class="movie-tabs-content-reviews-box-left-profile mb-3">
                                <img src="{{imageApi + review.author_details.avatar_path}}" alt="">
                            </div>
                            <div class="movie-tabs-content-reviews-box-left-rate">{{review.author_details.rating}}</div>
                        </div>
                        <div class="movie-tabs-content-reviews-box-right">
                            <div class="movie-tabs-content-reviews-right-box-name mb-3">{{review.author}}</div>
                            <div class="movie-tabs-content-reviews-right-box-comment">
                                {{review.content}}
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="reviewsData.results.length === 0">
                    <h2>No reviews yet.</h2>
                </div>
            </div>
            <div class="movie-tabs-content-cast" *ngIf="id === 'cast'">
                <div class="row">
                    <div class="movie-tabs-content-cast-info col-lg-3 col-md-4 mb-5">
                        <div class="movie-tabs-content-cast-info-profile mb-3">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <div class="movie-tabs-content-cast-info-name">
                            Zendaya
                        </div>
                    </div>
                    <div class="movie-tabs-content-cast-info col-lg-3 col-md-4 mb-5">
                        <div class="movie-tabs-content-cast-info-profile mb-3">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <div class="movie-tabs-content-cast-info-name">
                            Zendaya
                        </div>
                    </div>
                    <div class="movie-tabs-content-cast-info col-lg-3 col-md-4 mb-5">
                        <div class="movie-tabs-content-cast-info-profile mb-3">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <div class="movie-tabs-content-cast-info-name">
                            Zendaya
                        </div>
                    </div>
                    <div class="movie-tabs-content-cast-info col-lg-3 col-md-4 mb-5">
                        <div class="movie-tabs-content-cast-info-profile mb-3">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <div class="movie-tabs-content-cast-info-name">
                            Zendaya
                        </div>
                    </div>
                    <div class="movie-tabs-content-cast-info col-lg-3 col-md-4 mb-5">
                        <div class="movie-tabs-content-cast-info-profile mb-3">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <div class="movie-tabs-content-cast-info-name">
                            Zendaya
                        </div>
                    </div>
                    <div class="movie-tabs-content-cast-info col-lg-3 col-md-4 mb-5">
                        <div class="movie-tabs-content-cast-info-profile mb-3">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <div class="movie-tabs-content-cast-info-name">
                            Zendaya
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
