.slider {
    &-wrap {
        overflow: hidden;
        &-main {
            display: flex;
            flex-direction: row;
            width: 200%;
            height: 410px;
            &-item {
                position: relative;
                width: 100%;
                height: 382px;
                margin: 0 12px;
                scroll-behavior: smooth;
                &-img {
                    width: 255px;
                    height: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 16px;
                    color: #fff;
                }
                &-number {
                    position: relative;
                    font-size: 96px;
                    font-weight: 600;
                    top: -70px;
                    left: -13px;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    font-style: normal;
                    line-height: 117px;
                    color: #0296E5;
                }
            }
        }
        &-buttons{
            position: absolute;
            width: 82%;
            top: 179px;
            height: 382px;
            color: #fff;
            .prev {
                position: absolute;
                left: 33px;
                top: 50%;
                padding: 15px;
                transform: translate(-50%, -50%);
                background-color: rgba($color: #000000, $alpha: 0.5);
                border-radius: 50%;
                cursor: pointer;
                &:hover {
                    background-color: rgba($color: #000000, $alpha: 0.8);
                    transition: all 0.3s ease-in;
                }
            }
            .next {
                position: absolute;
                right: -6px;
                top: 50%;
                padding: 15px;
                transform: translate(-50%, -50%);
                background-color: rgba($color: #000000, $alpha: 0.5);
                border-radius: 50%;
                cursor: pointer;
                &:hover {
                    background-color: rgba($color: #000000, $alpha: 0.8);
                    transition: all 0.3s ease-in;
                }
            }
        }
    }
}